@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@model IEnumerable<StackOverflowClone.Models.Post>

<h2>Home Page</h2>

@foreach (var post in Model)
{
    @Html.ActionLink(post.Title, "Details", "Home", new { id = post.PostId })
}