<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <h1>@Html.ActionLink("Stack Overflow Clone", "Index", "Home")</h1>
        @Html.Partial("UserInfo.cshtml")
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
